avisynth/archive/*
avisynth/vs2015/Debug/*
avisynth/vs2015/Release/*
avisynth/vs2015/x64/*
avisynth/vs2015/.vs/*
vapoursynth/archives/*
vapoursynth/vs2015/Debug/*
vapoursynth/vs2015/Release/*
vapoursynth/vs2015/x64/*
vapoursynth/vs2015/.vs/*
*.opendb
*.db
*.filters
*.user
*.sln
*.sdf
*.suo
*.vspx
*.aps
*.avs
*.avsi
*.vpy
*.py
*.dll
*.exe
