avisynth/archive/*
avisynth/build/Debug/*
avisynth/build/Release/*
avisynth/build/x64/*
avisynth/build/.vs/*
vapoursynth/archives/*
vapoursynth/build/Debug/*
vapoursynth/build/Release/*
vapoursynth/build/x64/*
vapoursynth/build/.vs/*
*.opendb
*.db
*.filters
*.user
*.sln
*.sdf
*.suo
*.vspx
*.aps
*.avs
*.avsi
*.vpy
*.py
*.dll
*.exe
